In [11]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [12]:
# Read the CSV files into DataFrames
sales_2020_df = pd.read_csv('sales_2020.csv')
sales_2021_df = pd.read_csv('sales_2021.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'sales_2020.csv'

In [ ]:
# Display the 2020 sales DataFrame
print(sales_2020_df)

NameError: name 'sales_2020_df' is not defined

In [ ]:
# Display the 2021 sales DataFrame
print(sales_2021_df)

NameError: name 'sales_2021_df' is not defined

#### Check the data types of each DataFrame

In [ ]:
# Check the 2020 sales data types.
print(sales_2020_df.dtypes)

NameError: name 'sales_2020_df' is not defined

In [ ]:
# Check the 2021 sales data types.
print(sales_2021_df.dtypes)

NameError: name 'sales_2021_df' is not defined

#### Combine the sales data by rows.

In [ ]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales_df = pd.concat([sales_2020_df, sales_2021_df], ignore_index=True)
print(combined_sales_df)

NameError: name 'pd' is not defined

In [ ]:
# Check if any values are null.
print(combined_sales_df.isnull().sum())

NameError: name 'combined_sales_df' is not defined

In [ ]:
# Check the data type of each column
print(combined_sales_df.dtypes)

NameError: name 'combined_sales_df' is not defined

In [ ]:
# Convert the "invoice_date" to a datetime datatype
combined_sales_df["invoice_date"] = pd.to_datetime(combined_sales_df["invoice_date"])

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [ ]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales_df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold_by_region = combined_sales_df.groupby(["region", "state", "city"])["quantity"].sum().reset_index(name="Total_Products_Sold")
 

# Show the top 5 results.
print(products_sold_by_region.head())

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold_by_region = combined_sales_df.groupby(["region", "state", "city"])["quantity"].sum().reset_index(name="Total_Products_Sold")


# Show the top 5 results.
print(products_sold_by_region.head())

NameError: name 'combined_sales_df' is not defined

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Calculate the total sales for each row
combined_sales_df["total_sales"] = combined_sales_df["quantity"] * combined_sales_df["price_per_unit"]

# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_by_region = combined_sales_df.groupby(["region", "state", "city"])["total_sales"].sum().reset_index(name="Total Sales")

# Show the top 5 results.
print(total_sales_by_region.head())

NameError: name 'combined_sales_df' is not defined

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_by_region = combined_sales_df.groupby(["region", "state", "city"])["total_sales"].sum().reset_index(name="Total Sales")


# Optional: Rename the "total_sales" column to "Total Sales"
print(total_sales_by_region.head())


# Show the top 5 results.
print(total_sales_by_region.head())

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [15]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_by_retailer = combined_sales_df.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index(name="Total Sales")

# Show the top 5 results.
print(total_sales_by_retailer.head())

NameError: name 'combined_sales_df' is not defined

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
total_sales_by_retailer = combined_sales_df.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index(name="Total Sales")

# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [16]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_footwear_sales_df = combined_sales_df[combined_sales_df["category"] == "Women's Athletic Footwear"]
print(womens_footwear_sales_df.head())

NameError: name 'combined_sales_df' is not defined

#### Using `groupby`

In [17]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_footwear_sales_by_retailer = womens_footwear_sales_df.groupby(["retailer", "region", "state", "city"])["quantity"].sum().reset_index(name="Womens_Footwear_Units_Sold")

# Show the top 5 results.
print(womens_footwear_sales_by_retailer.head())

NameError: name 'womens_footwear_sales_df' is not defined

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
2020-01-23         188025
2020-01-28         376728
2020-01-29         190065
2020-02-03         390008
2020-02-04         268253

In [18]:
# Create a pivot table with the 'invoice_date' column as the index, and the "total_sales" as the values.
daily_sales_pivot = womens_footwear_sales_df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = daily_sales_pivot.resample('D').sum()

# Sort the resampled pivot table in descending order on "total_sales".
daily_sales_sorted = daily_sales.sort_values(by='total_sales', ascending=False)

# Show the table.
print(daily_sales_sorted.head())

NameError: name 'womens_footwear_sales_df' is not defined

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [19]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = daily_sales_pivot.resample('W').sum()

# Sort the resampled pivot table in descending order on "total_sales".
weekly_sales_sorted = weekly_sales.sort_values(by='total_sales', ascending=False)

# Show the table.
print(weekly_sales_sorted.head())

NameError: name 'daily_sales_pivot' is not defined